<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/header :: header"></head>

<body>
<!-- Include the header fragment -->
<div th:insert="fragments/menu :: menu"></div>
<main>
  <div class="container">
    <form action="#" th:action="@{/applications/new}" th:object="${application}" method="post">

      <div class="form-group">
        <input type="hidden" id="id" class="form-control" th:field="*{id}">
      </div>

      <!-- Input field for the legal representative ID -->
      <div class="form-group" th:if="${company != null}">
        <label for="legalRepresentativeId">Legal Representative ID</label>
        <input type="text" class="form-control" id="legalRepresentativeId" th:value="${company.legalRepresentative != null ? company.legalRepresentative.legalRepresentativeId : ''}" readonly="readonly"/>
      </div>
      <!-- Dropdown menu for selecting the company -->
      <div class="form-group">
        <label for="company">Select Company</label>
        <select id="company" class="form-control" th:field="*{company.id}">
          <option th:each="company : ${companies}" th:value="${company.id}" th:text="${company.name}"></option>
        </select>
      </div>


      <div class="form-group">
        <label for="purpose">Purpose</label>
        <input type="text" id="purpose" class="form-control" th:field="*{company.purpose}">
      </div>
      <div class="form-group">
        <label for="operatingStatute">Operating Statute</label>
        <input type="text" id="operatingStatute" class="form-control" th:field="*{company.operatingStatute}">
      </div>
      <div class="form-group">
        <label for="HQ">HQ Location</label>
        <input type="text" id="HQ" class="form-control" th:field="*{company.HQ}">
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
      <div th:if="${#fields.hasErrors('*')}">
        <p th:each="error : ${#fields.errors('*')}" th:text="${error}">Error</p>
      </div>
    </form>
  </div>
</main>

<!-- Include the footer fragment -->
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
